body {

    padding-top:40px;

}

h1, h2, h3, h4 {

    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;

    font-weight: normal;

}

ul,ol {

    list-style-type:none;

}

a {

    blr:expression(this.onFocus=this.blur());

    outline:none; 

}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {

    color:#666;

    text-shadow:0 0 0 rgba(0, 0, 0, 0);

}

.about {

    color:#444;

}

.about p {

    font-size:14px;

    line-height:200%;

}

.about blockquote {

    padding-top:15px;

    padding-bottom:20px;

    padding-right:20px;

}

.about blockquote.a {

    background-color:#FAF8F0;

    border-color:#FAEBCC;

}

.about blockquote.a h4 {

    color:#8A6D3B;

}

.about blockquote.b {

    background-color: #FDF7F7;

    border-color: #EED3D7;

}

.about blockquote.b h4 {

    color:#B94A48;

}

.about blockquote.c {

    background-color: #F4F8FA;

    border-color: #BCE8F1;

}

.about blockquote.c h4 {

    color:#34789A;

}

.tab-content {

    overflow: hidden;

}

#myTab {

    margin:0 0 0 -10px;

    padding:0;

}

#myTab a {

    cursor:pointer;

}

.tab-content {

    margin-left:-10px;

}

#scrollUp {

  bottom: 20px;

  right: 20px;

  height: 38px;  /* Height of image */

  width: 38px; /* Width of image */

  background: url(../images/top.png) no-repeat;

}

#info {

  margin-top:30px;

  font-size:18px;

}

.navbar-fixed-top {

    position:fixed !important;

    margin-left:0 !important;

    margin-right:0 !important;

}

.nav {

    padding:0 10px 0 0;

}

.navbar-over {

    height:43px;

    width:100%;

    background:#000;

    opacity:0.3;

    filter:alpha(opacity=30);

    position:absolute;

    top:0;

    z-index:9999;

    display:none;

}

.line {

    background:url(img/line.html) no-repeat right;

}

.brand {

    width:225px;

    height:17px;

    background:url(img/logo.html) no-repeat center 60%;

}

.title {    

    padding: 40px 0;

    background:url(img/bg.html);

    text-align:center;

    color:#333;

    border-bottom:1px solid #eee;

}

.title h1 {

    font-size:75px;

    line-height: 1.2;

    color:#08c;

    text-shadow:2px 2px 1px #ccc;

}

.title h1.side {

    font-size:65px;

    text-align:left;

}

.title h2 {

    font-size:33px;

    line-height:1.25;

    margin-bottom: 20px;

    color:#08c;

    text-shadow:1px 1px 0px #ccc;

    font-weight: 300;

    font-family : 榛戜綋;

}

.title h2.side {

    text-align:left;

    font-size:25px;

}

.title p.h5 {

    letter-spacing:1px;

    color:#666;

}

.title p.h5 a,.title p.h5 span {

    padding:5px;

}

.title p.h4 {

    margin-bottom: 20px;

}

.title p.h4 span {

    font-family:榛戜綋;

}

.title .btn {

    padding:10px 20px;

    font-size:24px;

    letter-spacing:1px;

    margin:0 5px;

}

.title .btn-video {

    padding:5px 15px;

    font-size:14px;

}

.title .video {

    max-width:1024px;

    max-height:768px;

}

.title .video2 {

    max-width:1440px;

    max-height:900px;

}

.resource {

    margin-bottom:40px;

}

.content {

    text-align: center;

    color: #666;

}

.content h1 {

    margin: 40px 0 10px;

    font-size: 60px;

    font-weight: 200;

    line-height: 1;

    letter-spacing: -1px;

}

.content .small {

    margin-bottom: 40px;

    font-size: 20px;

    font-weight: 300;

    line-height: 1.25;

    color: #999;

}

.content .thumbnail p, .content .thumbnail h3{

    letter-spacing:1px;

    padding:0 5px;

}.content h3, .content h5, .content p { text-align:left;}.content h3 a {    color:#666;}.content h5 {   font-weight:normal; color:#999;}.content p.img {    text-align:center;  margin:10px 0;}.content p.dig { text-indent:37px;   line-height:180%;   font-size:18px;}.content p.dig img {    float:left; padding:7px 12px 0 0;}.content p.other {    color:#999; text-align:right;   padding:20px 0 0 0;}.content p.other a {    color:#999; padding-right:5px;}.blog_line { height:1px; background:#eee;    margin:30px 0;}.blog p {    text-indent:37px;   line-height:180%;   font-size:18px; color:#666;}.blog_title {   text-align:center;  margin:10px 0 40px 0;   line-height:150%;   font-size:40px; color:#666;}.blog p.blod {  font-weight:bold;   padding:15px 0 0 0;}.blog p.img {   text-align:center;  text-indent:0;}.blog p img {    border:5px solid #ccc;}

.dropdown-menu {

    letter-spacing:1px !important;

}

.dropdown-menu a {

    color:#666 !important;

}

.dropdown-menu a:hover {

    color:#fff !important;

}

.bread {

    background:#f5f5f5;

    margin-bottom:40px;

}

.breadcrumb {

    margin:0 auto;

}

.list {

    margin:0 0 10px 0;

}

.list li {

    padding:0 0 0 15px;

}

.list a {

    border-top:none !important;

    border-left:none !important;

    border-right:none !important;

}

.list em {

    font-style:normal;

    float:right;

    color:#666;

    padding:10px 10px 0 0;

}

.list .active {

    border-top:1px solid #ddd;

}

.list .active:first-child {

    border-top:none;

}

.list-right {

    padding:5px 0 0 0;

}

.comments {

    background:#FCFBF7;

    padding-bottom:40px;

}

#comments {margin-top:30px; font-size:14px;}

#comments h3 {border-bottom:1px solid #ddd; padding-bottom:5px;}

#comments p {

    color:#666;

    letter-spacing:1px;

}

#comments .navigation {margin-top:10px;}

.comment-form-comment label {display:none;}

.comment_list {border-top:1px solid #fff; margin-bottom:20px;}

.comment-author {float:left; line-height:24px; height:24px; font-size:12px; margin-bottom:10px;}

.comment-meta {float:right; font-size:12px;}

.comment-meta a {color:#999;}

.says {display:none;}

#respond {margin-top:10px;}

#respond textarea {width:97%; padding:1%;}

.comment_list li #respond {margin-left:30px;}

#commentform {border-top:1px solid #f9f9f9; padding-top:10px;}

#commentform input {width:230px; padding:5px; display:block;}

#comments input,#comments textarea,#comments button,{border-radius:3px;}

.avatar {

display:none;

}

#submit {padding:5px 10px; cursor:pointer; font-size:14px; border:1px solid #333; box-shadow:1px 1px 3px #d3d3d3; background:#444; background:-moz-linear-gradient(top, #444, #333); background: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#333)); color:#fff; text-shadow:1px 1px #111;}

#submit:hover {color:#555; text-shadow:1px 1px #fff; border:1px solid #ccc; background:#f1f1f1; background:-moz-linear-gradient(top, #fff, #f1f1f1); background: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#eee));}

.reply {padding-bottom:10px; font-size:12px;}

.comment_list li {border-bottom:1px dashed #ccc; padding:10px 5px 0;}

.comment_list li li {border-bottom:none; border-top:1px dashed #ccc; padding-top:10px;}

.comment_list li p {clear:both; margin-bottom:5px;}

.children li {padding-left:20px;}

.bypostauthor {background:#FFEFDB}

.bypostauthor div div > cite {background:url(img/manager.html) no-repeat left center;padding:0 0 0 18px;}

.bypostauthor ul li div div cite {background:none;padding:0}

.bypostauthor div > p {color:green !important;}

.bypostauthor ul li div p {color:#666 !important;}

.thread-odd {background:#f5f5f5;}

.comment-form-author,.comment-form-email,.comment-form-url {float:left; width:265px;}

.comment-notes {font-size:12px;}

.form-allowed-tags {display:none;}



.footer {

    text-align: center;

    padding: 30px 0;

    border-top: 1px solid #e5e5e5;

    background-color: #f5f5f5;

}

.footer p {

    margin-bottom: 0;

    color: #777;

    margin-bottom: 3px;

}

.footer-links {

  margin: 10px 0;

}

@media (min-width: 768px) and (max-width: 979px) {

    .line {

            background:none;

    }

    .title {

        margin-top: 40px;

    }

}

@media (max-width: 767px) {

    .bread,.breadcrumb {

        margin-right:-10px;

        margin-left:-10px;

        -moz-border-radius:0;      /* Gecko browsers */

        -webkit-border-radius:0;   /* Webkit browsers */

        border-radius:0;

    }

    .comments {

        margin-right:-20px;

        margin-left:-20px;

    }

    .comments ol > li {

        margin-right:-10px;

        padding-left:15px;

        padding-right:15px;

    }

    .comments h3 {

        padding-left:10px;

        padding-right:10px;

    }

    #commentform {

        margin-left:10px;

        margin-right:10px;  

    }

    #commentbutton,#firstbutton {

        margin:0 auto;

        width:96%;

    }

    .line {

            background:none;

    }

    .title {

        padding: 40px 20px;

        margin-top:30px;

    }

    .title h1 {

        font-size: 60px;

    }

    .title h1.side {

        font-size: 55px;

    }

    .title h2, .title .btn {

        font-size: 24px;

    }

    .title .btn-video {

        font-size:14px;

    }

    .title h2.side {

        text-align:left;

        font-size:20px;

    }

    .content h1 {

        font-size: 50px;

    }

    .content .small {

        font-size: 18px;

    }

    .download {

        padding:30px 0 0 0;

    }

    .footer {

        margin-left: -20px;

        margin-right: -20px;

        padding-left: 20px;

        padding-right: 20px;

    }

    .footer p {

        margin-bottom: 9px;

    }       .blog_title {       font-size:32px; }   .content h3 {       font-size:28px; }

}

@media (max-width: 480px) {

    .title h1 {

        font-size: 40px;

    }       .blog_title {       font-size:24px; }       .content h3 {       font-size:20px; }

    .title h1.side {

        font-size: 38px;

    }

    .title h2,.title .btn {

        font-size: 17px;

    }

    .title h2.side {

        text-align:left;

        font-size:15px;

    }

    .title .btn {

        display: block;

        margin: 0 auto;

    }

    .title .btn-video {

        margin:10px auto;

        font-size:14px;

    }

    .content h1 {

        font-size: 40px;

    }

    .content .small {

        font-size: 15px;

    }

    .download {

        padding:30px 0 0 0;

    }

    .footer {

        padding-top: 20px;

        padding-bottom: 20px;

    }

}

@media (max-width: 320px) {

/*

    .brand {

        width:0;

        height:0;

        background:none;

    }

*/

}
